.settings
.settings/*
.metadata
.metadata/*

# Annoying macOS
**/.DS_Store

CM4/Debug/
CM4/Release/
doc/html
doc/latex

#compilation artifacts
*.d
*.o
*.a
*.su

# Executables
*.list
*.bin
*.elf
*.map
/.metadata/
